<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFCommentActionText</key>
				<string>Helps maintain a public shared repository of my template drafts.

Repo: https://github.com/extratone/ddtemplates/issues/
This shortcut's issue: https://github.com/extratone/ddtemplates/issues/4

𝗠𝘆 𝗰𝗼𝗻𝘁𝗮𝗰𝘁 𝗶𝗻𝗳𝗼𝗿𝗺𝗮𝘁𝗶𝗼𝗻:
Email: davidblue@extratone.com
Contact card: https://davidblue.wtf/db.vcf
RoutineHub Profile: https://routinehub.co/user/blue
GitHub: https://github.com/extratone
iOS-specific Repository: https://github.com/extratone/i
Telegram: https://t.me/DavidBlue
Telegram Channel: https://t.me/extratone
Discord: https://davidblue.wtf/discord
Twitter: https://twitter.com/NeoYokel
Reddit: https://reddit.com/u/asphaltapostle
Mastodon: https://mastodon.social/@DavidBlue
EVERYWHERE: https://davidblue.wtf/socialdrop</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.agiletortoise.Drafts5.QueryWorkspaceIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>AppIntentDescriptor</key>
				<dict>
					<key>AppIntentIdentifier</key>
					<string>QueryWorkspaceIntent</string>
					<key>BundleIdentifier</key>
					<string>com.agiletortoise.Drafts5</string>
					<key>Name</key>
					<string>Drafts</string>
					<key>TeamIdentifier</key>
					<string>GTFQ98J4YG</string>
				</dict>
				<key>CustomOutputName</key>
				<string>Drafts</string>
				<key>UUID</key>
				<string>73895CB9-E4A9-44B9-9A9D-56DE79538A0E</string>
				<key>workspace</key>
				<dict>
					<key>identifier</key>
					<string>8F209D0D-D5DE-40E8-9104-E6AA1B254B74</string>
					<key>title</key>
					<dict>
						<key>key</key>
						<string>Templates</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>D9B47219-1797-4EA4-A781-807AC3842002</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Drafts</string>
						<key>OutputUUID</key>
						<string>73895CB9-E4A9-44B9-9A9D-56DE79538A0E</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.sindresorhus.Actions.TransformTextIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>AppIntentDescriptor</key>
				<dict>
					<key>AppIntentIdentifier</key>
					<string>TransformTextIntent</string>
					<key>BundleIdentifier</key>
					<string>com.sindresorhus.Actions</string>
					<key>Name</key>
					<string>Actions</string>
					<key>TeamIdentifier</key>
					<string>YG56YK5RN5</string>
				</dict>
				<key>UUID</key>
				<string>B33D77B4-9CD8-4A63-B902-5C2F2BB395FD</string>
				<key>text</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>PropertyName</key>
										<string>title</string>
										<key>PropertyUserInfo</key>
										<string>title</string>
										<key>Type</key>
										<string>WFPropertyVariableAggrandizement</string>
									</dict>
								</array>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Item</string>
							</dict>
						</dict>
						<key>string</key>
						<string>&#xFFFC;</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>transformation</key>
				<string>pascalCase</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Transform Text</string>
						<key>OutputUUID</key>
						<string>B33D77B4-9CD8-4A63-B902-5C2F2BB395FD</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFVariableName</key>
				<string>title</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.combine</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>BDBEBDF7-7E65-400E-B676-8979E68432EB</string>
				<key>WFTextCustomSeparator</key>
				<string>, </string>
				<key>WFTextSeparator</key>
				<string>Custom</string>
				<key>text</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Aggrandizements</key>
						<array>
							<dict>
								<key>PropertyName</key>
								<string>tags</string>
								<key>PropertyUserInfo</key>
								<string>tags</string>
								<key>Type</key>
								<string>WFPropertyVariableAggrandizement</string>
							</dict>
						</array>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Repeat Item</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Combined Text</string>
						<key>OutputUUID</key>
						<string>BDBEBDF7-7E65-400E-B676-8979E68432EB</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFVariableName</key>
				<string>dtags</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>0F0A12AA-418D-4306-947C-6F907D4D5716</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{11, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>PropertyName</key>
										<string>title</string>
										<key>PropertyUserInfo</key>
										<string>title</string>
										<key>Type</key>
										<string>WFPropertyVariableAggrandizement</string>
									</dict>
								</array>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Item</string>
							</dict>
							<key>{20, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>dtags</string>
							</dict>
							<key>{29, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>PropertyName</key>
										<string>uuid</string>
										<key>PropertyUserInfo</key>
										<string>uuid</string>
										<key>Type</key>
										<string>WFPropertyVariableAggrandizement</string>
									</dict>
								</array>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Item</string>
							</dict>
							<key>{38, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>PropertyName</key>
										<string>link</string>
										<key>PropertyUserInfo</key>
										<string>link</string>
										<key>Type</key>
										<string>WFPropertyVariableAggrandizement</string>
									</dict>
								</array>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Item</string>
							</dict>
							<key>{49, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>PropertyName</key>
										<string>createdAt</string>
										<key>PropertyUserInfo</key>
										<string>createdAt</string>
										<key>Type</key>
										<string>WFPropertyVariableAggrandizement</string>
									</dict>
									<dict>
										<key>Type</key>
										<string>WFDateFormatVariableAggrandizement</string>
										<key>WFDateFormat</key>
										<string>MMddYYYY-HHmmss</string>
										<key>WFDateFormatStyle</key>
										<string>Custom</string>
										<key>WFISO8601IncludeTime</key>
										<false/>
									</dict>
								</array>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Item</string>
							</dict>
							<key>{59, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>PropertyName</key>
										<string>grammarType</string>
										<key>PropertyUserInfo</key>
										<string>grammarType</string>
										<key>Type</key>
										<string>WFPropertyVariableAggrandizement</string>
									</dict>
								</array>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Item</string>
							</dict>
						</dict>
						<key>string</key>
						<string>---
title: &#xFFFC;
tags: `&#xFFFC;`
uuid: &#xFFFC;
local: &#xFFFC;
created: &#xFFFC;
syntax: &#xFFFC;
---</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Text</string>
						<key>OutputUUID</key>
						<string>0F0A12AA-418D-4306-947C-6F907D4D5716</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFVariableName</key>
				<string>meta</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.appliedphasor.working-copy.WriteFileIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>3E2349D7-88B7-4EAD-BF5D-2CE4E95A7A72</string>
				<key>content</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>meta</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>mode</key>
				<string>overwrite</string>
				<key>path</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{5, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>title</string>
							</dict>
						</dict>
						<key>string</key>
						<string>meta/&#xFFFC;meta.txt</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>repo</key>
				<string>Drafts/ddtemplates</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>B2052E66-393C-43A6-92B7-B638549449A3</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>meta</string>
							</dict>
							<key>{3, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>PropertyName</key>
										<string>content</string>
										<key>PropertyUserInfo</key>
										<string>content</string>
										<key>Type</key>
										<string>WFPropertyVariableAggrandizement</string>
									</dict>
								</array>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Item</string>
							</dict>
						</dict>
						<key>string</key>
						<string>&#xFFFC;
 &#xFFFC;</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Text</string>
						<key>OutputUUID</key>
						<string>B2052E66-393C-43A6-92B7-B638549449A3</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFVariableName</key>
				<string>template</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.appliedphasor.working-copy.WriteFileIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>8606D834-6344-4D3B-9B06-E3333BDC5EA6</string>
				<key>content</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>template</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>mode</key>
				<string>overwrite</string>
				<key>path</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{4, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>title</string>
							</dict>
						</dict>
						<key>string</key>
						<string>txt/&#xFFFC;.txt</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>repo</key>
				<string>Drafts/ddtemplates</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.appliedphasor.working-copy.WriteFileIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>48E6AF3E-5451-4533-A482-992F48CE002D</string>
				<key>content</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>template</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>mode</key>
				<string>overwrite</string>
				<key>path</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{3, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>title</string>
							</dict>
						</dict>
						<key>string</key>
						<string>md/&#xFFFC;.md</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>repo</key>
				<string>Drafts/ddtemplates</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>FB5DE9A1-4F1A-4917-8B69-0733FB767CAC</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{135, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>title</string>
							</dict>
							<key>{209, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>title</string>
							</dict>
							<key>{288, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>title</string>
							</dict>
							<key>{5, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>PropertyName</key>
										<string>title</string>
										<key>PropertyUserInfo</key>
										<string>title</string>
										<key>Type</key>
										<string>WFPropertyVariableAggrandizement</string>
									</dict>
								</array>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Item</string>
							</dict>
							<key>{64, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>title</string>
							</dict>
						</dict>
						<key>string</key>
						<string>- [**&#xFFFC;**](https://github.com/extratone/ddtemplates/blob/main/md/&#xFFFC;.md) - [meta](https://github.com/extratone/ddtemplates/blob/main/meta/&#xFFFC;meta.txt) - [txt](https://github.com/extratone/ddtemplates/blob/main/txt/&#xFFFC;.txt) - [raw](https://raw.githubusercontent.com/extratone/ddtemplates/main/md/&#xFFFC;.md)</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.appendvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Text</string>
						<key>OutputUUID</key>
						<string>FB5DE9A1-4F1A-4917-8B69-0733FB767CAC</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFVariableName</key>
				<string>index</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>B88FAD34-77F5-4ACB-B474-80D7F32A8B78</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>title</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>title</string>
											</dict>
										</dict>
										<key>string</key>
										<string>&#xFFFC;</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>tags</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>dtags</string>
											</dict>
										</dict>
										<key>string</key>
										<string>&#xFFFC;</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>uuid</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>Aggrandizements</key>
												<array>
													<dict>
														<key>PropertyName</key>
														<string>uuid</string>
														<key>PropertyUserInfo</key>
														<string>uuid</string>
														<key>Type</key>
														<string>WFPropertyVariableAggrandizement</string>
													</dict>
												</array>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>Repeat Item</string>
											</dict>
										</dict>
										<key>string</key>
										<string>&#xFFFC;</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>local</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>Aggrandizements</key>
												<array>
													<dict>
														<key>PropertyName</key>
														<string>link</string>
														<key>PropertyUserInfo</key>
														<string>link</string>
														<key>Type</key>
														<string>WFPropertyVariableAggrandizement</string>
													</dict>
												</array>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>Repeat Item</string>
											</dict>
										</dict>
										<key>string</key>
										<string>&#xFFFC;</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>created</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>Aggrandizements</key>
												<array>
													<dict>
														<key>PropertyName</key>
														<string>createdAt</string>
														<key>PropertyUserInfo</key>
														<string>createdAt</string>
														<key>Type</key>
														<string>WFPropertyVariableAggrandizement</string>
													</dict>
													<dict>
														<key>Type</key>
														<string>WFDateFormatVariableAggrandizement</string>
														<key>WFDateFormat</key>
														<string>MMddYYYY-HHmmss</string>
														<key>WFDateFormatStyle</key>
														<string>Custom</string>
														<key>WFISO8601IncludeTime</key>
														<false/>
													</dict>
												</array>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>Repeat Item</string>
											</dict>
										</dict>
										<key>string</key>
										<string>&#xFFFC;</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>modified</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>Aggrandizements</key>
												<array>
													<dict>
														<key>PropertyName</key>
														<string>modifiedAt</string>
														<key>PropertyUserInfo</key>
														<string>modifiedAt</string>
														<key>Type</key>
														<string>WFPropertyVariableAggrandizement</string>
													</dict>
													<dict>
														<key>Type</key>
														<string>WFDateFormatVariableAggrandizement</string>
														<key>WFDateFormat</key>
														<string>MMddYYYY-HHmmss</string>
														<key>WFDateFormatStyle</key>
														<string>Custom</string>
														<key>WFISO8601IncludeTime</key>
														<false/>
													</dict>
												</array>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>Repeat Item</string>
											</dict>
										</dict>
										<key>string</key>
										<string>&#xFFFC;</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>syntax</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>Aggrandizements</key>
												<array>
													<dict>
														<key>PropertyName</key>
														<string>grammarType</string>
														<key>PropertyUserInfo</key>
														<string>grammarType</string>
														<key>Type</key>
														<string>WFPropertyVariableAggrandizement</string>
													</dict>
												</array>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>Repeat Item</string>
											</dict>
										</dict>
										<key>string</key>
										<string>&#xFFFC;</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>body</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>Aggrandizements</key>
												<array>
													<dict>
														<key>PropertyName</key>
														<string>content</string>
														<key>PropertyUserInfo</key>
														<string>content</string>
														<key>Type</key>
														<string>WFPropertyVariableAggrandizement</string>
													</dict>
												</array>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>Repeat Item</string>
											</dict>
										</dict>
										<key>string</key>
										<string>&#xFFFC;</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>dk.simonbs.DataJar.SetValueIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>0B256876-9EA0-4DFD-96AC-A602D043EBFE</string>
				<key>keyPath</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{12, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>PropertyName</key>
										<string>uuid</string>
										<key>PropertyUserInfo</key>
										<string>uuid</string>
										<key>Type</key>
										<string>WFPropertyVariableAggrandizement</string>
									</dict>
								</array>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Item</string>
							</dict>
						</dict>
						<key>string</key>
						<string>ddtemplates.&#xFFFC;</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>overwriteStrategy</key>
				<string>alwaysAllow</string>
				<key>values</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>B88FAD34-77F5-4ACB-B474-80D7F32A8B78</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>D9B47219-1797-4EA4-A781-807AC3842002</string>
				<key>UUID</key>
				<string>5C83D00F-2A47-4A5E-B841-BB005D7A67D5</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>dk.simonbs.DataJar.GetValueIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>07905C7F-CEBE-4E57-9EB2-F371EF9E1995</string>
				<key>keyPath</key>
				<string>ddtemplates</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>dk.simonbs.Jayson.PrettifyJSONIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>427D51EC-8A21-456C-BC6C-B6E1D5DE6A54</string>
				<key>json</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Value</string>
						<key>OutputUUID</key>
						<string>07905C7F-CEBE-4E57-9EB2-F371EF9E1995</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.appliedphasor.working-copy.WriteFileIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>52CF80A1-48E6-4AA4-83DF-27FDEDD812B1</string>
				<key>content</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Prettified JSON</string>
						<key>OutputUUID</key>
						<string>427D51EC-8A21-456C-BC6C-B6E1D5DE6A54</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>mode</key>
				<string>overwrite</string>
				<key>path</key>
				<string>ddtemplates.json</string>
				<key>repo</key>
				<string>Drafts/ddtemplates</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.combine</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>557555EA-B738-4832-B866-87C5B992FF77</string>
				<key>text</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>index</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>1B9D1390-D5AD-44E5-9BCD-148C2E9BD563</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{674, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Combined Text</string>
								<key>OutputUUID</key>
								<string>557555EA-B738-4832-B866-87C5B992FF77</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string># Drafts Templates Repository
Updated `10142022-103440`

- [**Repository**](https://github.com/extratone/ddtemplates)
- [Raw README File](https://raw.githubusercontent.com/extratone/ddtemplates/master/README.md)
- [WTF](https://davidblue.wtf/drafts/8CC21C4E-4085-437D-BFE8-FCECEE9BF02F.html)
- [WTF Shortlink](https://davidblue.wtf/ddtemplates) - `https://davidblue.wtf/ddtemplates`
- [JSON](https://github.com/extratone/ddtemplates/blob/main/ddtemplates.json)
- [Local](shareddocuments:///private/var/mobile/Library/Mobile%20Documents/com~apple~CloudDocs/Written/8CC21C4E-4085-437D-BFE8-FCECEE9BF02F.md)
- [Things](things:///show?id=5Ta1NnyVVpk5jfdwT7ctbv)

---

## Index

&#xFFFC;</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.appliedphasor.working-copy.WriteFileIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>5FD6683D-0629-4D62-AA3E-D56CB82FCC94</string>
				<key>content</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Text</string>
						<key>OutputUUID</key>
						<string>1B9D1390-D5AD-44E5-9BCD-148C2E9BD563</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>mode</key>
				<string>overwrite</string>
				<key>path</key>
				<string>README.md</string>
				<key>repo</key>
				<string>Drafts/ddtemplates</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.appliedphasor.working-copy.CommitRepositoryIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>6AF7812D-6F2E-4284-A29B-E4AE37BC261F</string>
				<key>message</key>
				<string>#3</string>
				<key>repo</key>
				<string>Drafts/ddtemplates</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.appliedphasor.working-copy.PushRepositoryIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>8FFE26B6-FE10-40FD-9A23-35CDE0820186</string>
				<key>remote</key>
				<string> Default </string>
				<key>repo</key>
				<string>Drafts/ddtemplates</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.alexhay.Console.LogMessageIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>EF4B9E98-D722-4FC0-A362-93AE444454C8</string>
				<key>messages</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Status</string>
						<key>OutputUUID</key>
						<string>8FFE26B6-FE10-40FD-9A23-35CDE0820186</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>tag</key>
				<string>Git</string>
				<key>title</key>
				<string>TemplatesRepositoryUpdate</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.agiletortoise.Drafts5.GetDraftByUUIDIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>AppIntentDescriptor</key>
				<dict>
					<key>AppIntentIdentifier</key>
					<string>GetDraftByUUIDIntent</string>
					<key>BundleIdentifier</key>
					<string>com.agiletortoise.Drafts5</string>
					<key>Name</key>
					<string>Drafts</string>
					<key>TeamIdentifier</key>
					<string>GTFQ98J4YG</string>
				</dict>
				<key>ShowWhenRun</key>
				<false/>
				<key>UUID</key>
				<string>9F839407-E7BE-46FE-9A5D-749C6B44583C</string>
				<key>uuid</key>
				<string>8CC21C4E-4085-437D-BFE8-FCECEE9BF02F</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.agiletortoise.Drafts5.SetDraftIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>AppIntentDescriptor</key>
				<dict>
					<key>AppIntentIdentifier</key>
					<string>SetDraftIntent</string>
					<key>BundleIdentifier</key>
					<string>com.agiletortoise.Drafts5</string>
					<key>Name</key>
					<string>Drafts</string>
					<key>TeamIdentifier</key>
					<string>GTFQ98J4YG</string>
				</dict>
				<key>UUID</key>
				<string>35D52F26-2577-4496-A52C-E81F6E8845AC</string>
				<key>content</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text</string>
								<key>OutputUUID</key>
								<string>1B9D1390-D5AD-44E5-9BCD-148C2E9BD563</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>&#xFFFC;</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>draft</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Draft by UUID</string>
						<key>OutputUUID</key>
						<string>9F839407-E7BE-46FE-9A5D-749C6B44583C</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>writeType</key>
				<string>replace</string>
			</dict>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>1206.4.3</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>59725</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>946986751</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFAppStoreAppContentItem</string>
		<string>WFArticleContentItem</string>
		<string>WFContactContentItem</string>
		<string>WFDateContentItem</string>
		<string>WFEmailAddressContentItem</string>
		<string>WFFolderContentItem</string>
		<string>WFGenericFileContentItem</string>
		<string>WFImageContentItem</string>
		<string>WFiTunesProductContentItem</string>
		<string>WFLocationContentItem</string>
		<string>WFDCMapsLinkContentItem</string>
		<string>WFAVAssetContentItem</string>
		<string>WFPDFContentItem</string>
		<string>WFPhoneNumberContentItem</string>
		<string>WFRichTextContentItem</string>
		<string>WFSafariWebPageContentItem</string>
		<string>WFStringContentItem</string>
		<string>WFURLContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array/>
</dict>
</plist>
